@page
@model IndexModel
@{
    ViewData["Title"] = "Projeto de exemplo, migrando para AWS";
}

<div class="text-center">
    <h1 class="display-4">Seja bem-vindo</h1>
    <p>Exemplo básico para migrar nossa web app para a AWS - v3.</p>
</div>
